[cors]
allow_origins="*"
allow_methods="GET,POST,HEAD,PUT,DELETE,PATCH"
allow_headers="Access-Control-Allow-Headers, Origin, X-Requested-With, Content-Type, Accept"

[kitsu]
hostname = "http://localhost:3000/" # hostname for Kitsu. Trailing slash at the end is mandatory
email = "admin@example.com" # your Kitsu login
password = "mysecretpassword" # your Kitsu password
debug = true # show bunch of boring info

[bot]
token = "<TELEGRAM BOT TOKEN>" # ask @BotFather in Telegram to obtain one
stateTimeout = 600 # poll update period in seconds
debug = true # show bunch of boring info
webhook = false # use webhook or poll updates methods. Webhook is faster and reliable but requires a domain
hostname = "https://url/" # hostname for bot's webhook listener. Trailing slash at the end is mandatory
listenHostname = "0.0.0.0:1338" # specify port for webhook listener
enableExperimental = true # for future testing features. Safe to ignore

[credentials]
admin_chat_id = "<TELEGRAM CHAT ID>" # admin's chat ID
chat_id_by_roles = [
    "<KITSU SHORT STATUS NAME>=<TELEGRAM CHAT ID>", # e.g. "RETAKE=12345" where "12345 is Telegram chat id
    "<KITSU SHORT STATUS NAME>=<TELEGRAM CHAT ID>", # e.g. "WIP=67890" where "67890 is another Telegram chat id
    "<KITSU SHORT STATUS NAME>=<TELEGRAM CHAT ID>"  # ..you get the idea.
]
